* {
    box-sizing: border-box;
    margin: 0, auto;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
  }

  .first
  {
    margin-right:0px;
    align-content:center;
    text-align:center;
    background-color:darkgray;
  }

  .h2s
  {
    font-size:54px;
    margin-left:10px;
    font-family:cursive;
    color:white;

  }

  .head2
  {
    font-size:54px;
    margin-left:10px;
    font-family:cursive;
    color:white;
    text-align: center;
    border-style: solid;
    background-color:black;
  }

  .second
  {
    margin-top:30px;
  }

  .para1
  {
    font-size:25px;
    margin-left:15px;
    
  }
  .box1{
    width:240px;
    height: 150px;  
  }
  .flex-container {
    display: flex;
    background-color:black;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 0 auto;
    font-size: 20px;
  }
 .box2{
  height: 150px;
  width:240px;
  float:left;    
  margin-right:192px;

 }
 .box3{
  height: 150px;
  width:240px;
  float:left;     
  margin-right:192px;
  margin-top:-20px;
 }
 .homeimg{
  height:350px;
  width: 1430px;
  
 }
 .homediv
 {
  float:left;
  margin-right:10px;
  margin-top:10px;
  align-content:center;
  background-color: #878787;;
  width: 100%;
 }
 .head{
  text-align:center;
  color:white;
  font-size: 25px;
  border-style: solid;
  background-color:black;
 }
 .para2{
  width:250px;
  margin-left:80px;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 18px;
  color: white;
 }
 .ourteam
 {
  width:250px;
  align-content:center;
  text-align:center;
  margin-left:70px;
 }
 .ourteam1
 {
  width:250px;
  align-content:center;
  text-align:center;
 }
 .ourdiv2 
 {
  align-items:center;
  align-content:center;
  text-align:center;
 }
 .ourdiv1
 {
  display:grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20;
 }
 .h1 
 {
    text-align: center;
    text-transform: uppercase;
    color:white;
    font-size: 39px;
    width: 100%;
  }
  .ourteammain
  {
    background-color:grey;
  }


.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  background-color: white;
  padding: 10px;
}
.ullist
{
  list-style-type: circle;
  margin-left: 20%;
}
